<ngb-carousel #carousel (slide)="onSlide($event)" [interval]="1800"
              [pauseOnHover]="pauseOnHover"
              [showNavigationIndicators]="showNavigationIndicators"
              [showNavigationArrows]="showNavigationArrows">
  <ng-template ngbSlide *ngFor="let img of imgUrl; index as i">
    <app-news-section *ngIf="showNews"></app-news-section>
    <a target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img class="d-block " [src]="img" alt="My image {{i + 1}} description"
             [ngStyle]="{'width': carouselAspectRatio.width, 'height':carouselAspectRatio.height}">
      </div>
    </a>
  </ng-template>
</ngb-carousel>
