<div class="text-center container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h1>TRENDING NOW</h1>
      <p class="lead">Slide to see more</p>
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <a role="button" data-slide="prev">
      <div class="carousel-nav-icon">
        <svg viewBox="0 0 129 129">
          <path
            d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"/>
        </svg>
      </div>
    </a>

    <!--Start carousel-->

    <div class="col-9">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active"
               *ngFor="let x of [0,1,2]">
            <div class="row">
              <div *ngFor="let iUrl of imgUrl" [style]="'background-image:url('+iUrl+')'"
                   class="col-12 col-md d-flex align-items-center justify-content-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--End carousel-->

    <div class="col-1 d-flex align-items-center justify-content-center">
      <a role="button" data-slide="prev">
        <div class="carousel-nav-icon">
          <svg viewBox="0 0 129 129">
            <path
              d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"/>
          </svg>
        </div>
      </a>
    </div>

  </div>
</div>
