<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="footer-widget">
          <h3>Stay in touch</h3>
          <div class="footer-widget-content">
            <a href="vineetgaur97@gmail.com" class="contact-link">vineetgaur97@gmail.com</a>
            <a href="akshatt.at006@gmail.com" class="contact-link">akshatt.at006@gmail.com</a>
            <a href="8319218930" class="contact-link">8319218930</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-widget">
          <h3>State Of Matter</h3>
          <p class="para">Guys started company for fun....</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-feedback">
          <h3>Feedback</h3>
          <p class="para1">Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-social">
          <ul class="footer-social2">
            <li class=""><a title="Facebook" target="_blank" href="https://www.fb.com/"><img alt="Facebook" width="30" height="30" src="../../../../assets/img/tech/fb.png"></a></li>
            <li class=""><a title="Instagram" target="_blank" href="https://www.instagram.com/gaurvineet"><img alt="Instagram" width="30" height="30" src="../../../../assets/img/tech/insta.png"></a></li>
            <li class=""><a title="Pinterest" target="_blank" href="https://www.pinterest.com/vineetgaur"><img alt="Pinterest" width="30" height="30" src="../../../../assets/img/tech/pinterest.jpg"></a></li>
            <li class=""><a title="Twitter" target="_blank" href="https://www.twitter.com/"><img alt="Twitter" width="30" height="30" src="../../../../assets/img/tech/twitter.png"></a></li>
          </ul>
          </div>
      </div>
    </div>  
  </div>

  <div class="footer-copyright" >
    Copyright SOM © 2020. All rights reserved.
  </div>  
</footer>