.footer {
  bottom: 0;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../../../../assets/img/anime/3.jpg");
}

footer {
  background-color: #000000;
  padding: 80px 0;
  position: relative;
}

.contact-link {
  display: inline-block;
  width: 100%;
  color: #333;
}

.para1 {
  display: inline-block;
  width: 100%;
  color: #333;
}

.para {
  display: inline-block;
  width: 100%;
  color: #333;
}

ul.footer-social2 {
  margin: 0;
  padding: 0;
  width: auto;
}

ul.footer-social2 li {
  display: inline-block;
  padding: 5px;
}

ul.footer-social2 li a:hover {
  background-color: #ff8d1e;
}

ul.footer-social2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}

.footer .footer-copyright {
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  position: absolute;
}
