.display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials {
  display: flex;
  display: -webkit-flex;
}

.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

figure {
  margin-bottom: 50px;
  text-align: center;
}

.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  cursor: pointer;
}


.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center;
}


.form-group:last-child {
  margin-bottom: 0;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  box-sizing: border-box;
}





.label-has-error {
  top: 22%;
}


.signin-content {
  padding-top: 67px;
  padding-bottom: 87px;
}

.social-login {
  align-items: center;
  margin-top: 80px;
}


.socials li {
  padding: 5px;
}


.socials li a i {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.socials li:hover a i {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}

.zmdi-facebook {
  background: #3b5998;
}

.zmdi-twitter {
  background: #1da0f2;
}

.zmdi-google {
  background: #e72734;
}

.signin-form {
  margin-right: 90px;
  margin-left: 80px;
}

.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}


@media screen and (max-width: 768px) {
  .signup-content, .signin-content {
    flex-direction: column;
    justify-content: center;
  }


  .signin-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    order: 2;
  }

  .form-button {
    text-align: center;
  }

  .signin-form {
    order: 1;
    margin-right: 0;
    margin-left: 0;
    padding: 0 30px;
  }

  .form-title {
    text-align: center;
  }
}
