<nav class="navbar navbar-dark navbar-expand-lg fixed-top gradient">
  <div class="container">
    <a class="navbar-brand logo" routerLink="/home">SOM</a>
    <button data-toggle="collapse" class="navbar-toggler">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="/login">Tab1</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="/login">Tab2</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="/login">Tab3</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
